{% block navigation %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Video online</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>
                    <a href="{{ path('add_video') }}">Dodaj nowy film</a>
                </li>
                {% endif %}

                {#<li class="dropdown">#}
                    {#<a href="#" class="dropdown-toggle" data-toggle="dropdown">Videos<b class="caret"></b></a>#}
                    {#<ul class="dropdown-menu">#}
                        {#<li>#}
                            {#<a href="{{ path('show_video',{'id': 1} ) }}">Video 1</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('show_video',{'id': 2} ) }}">Video 2</a>#}
                        {#</li>#}
                        {#<li>#}
                            {#<a href="{{ path('show_video',{'id': 3} ) }}">Video 3</a>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}
                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_profile_show') }}">Zalogowano jako {{  app.user.username }}</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}">Logowanie</a>
                    {% endif %}
                </li>
                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a href="{{ path('fos_user_security_logout') }}">Wyloguj się</a>
                    {% else %}
                        <a href="{{ path('fos_user_registration_register') }}">Rejestracja</a>
                    {% endif %}
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{% endblock %}