{%  extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{%  block body %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ title }}
                    <small> {{ subtitle }}
                    </small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Date/Time -->
                <p><i class="fa fa-clock-o"></i> Data dodania: {{ date }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="/video/web/images/videos/{{ image }}" style="width:750px;height:250px;" alt="{{ title }}">
                <hr>

                <!-- Post Content -->
                <p>{{ description }}</p>
                <hr>

                <!-- Service Tabs -->
                <div class="row">

                    <div class="col-lg-12">

                        <ul id="myTab" class="nav nav-tabs nav-justified">

                            {% for link in links %}
                                {% if loop.first %}
                                <li class="active"><a href="#{{ link.id }}" data-toggle="tab">{{ link.name }}</a></li>
                                {% else %}
                                <li class=""><a href="#{{ link.id }}" data-toggle="tab">{{ link.name }}</a></li>
                                {% endif %}

                            {% endfor %}

                        </ul>




                        <div id="myTabContent" class="tab-content">

                            {% for link in links %}
                                {% if loop.first %}
                                    <div class="tab-pane fade active in" id="{{ link.id }}">
                                        <iframe width="750" height="410" src="{{ link.url }}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                {% else %}
                                    <div class="tab-pane fade" id="{{ link.id }}">
                                        <iframe width="750" height="410" src="{{ link.url }}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                {% endif %}

                            {% endfor %}

                        </div>



                    </div>
                </div>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                {#<div class="well">#}
                    {#<h4>Leave a Comment:</h4>#}
                    {#<form role="form">#}
                        {#<div class="form-group">#}
                            {#<textarea class="form-control" rows="3"></textarea>#}
                        {#</div>#}
                        {#<button type="submit" class="btn btn-primary">Submit</button>#}
                    {#</form>#}
                {#</div>#}

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                {#<div class="media">#}
                    {#<a class="pull-left" href="#">#}
                        {#<img class="media-object" src="http://placehold.it/64x64" alt="">#}
                    {#</a>#}
                    {#<div class="media-body">#}
                        {#<h4 class="media-heading">Start Bootstrap#}
                            {#<small>August 25, 2014 at 9:30 PM</small>#}
                        {#</h4>#}
                        {#Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}
                    {#</div>#}
                {#</div>#}

                {#<!-- Comment -->#}
                {#<div class="media">#}
                    {#<a class="pull-left" href="#">#}
                        {#<img class="media-object" src="http://placehold.it/64x64" alt="">#}
                    {#</a>#}
                    {#<div class="media-body">#}
                        {#<h4 class="media-heading">Start Bootstrap#}
                            {#<small>August 25, 2014 at 9:30 PM</small>#}
                        {#</h4>#}
                        {#Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}
                        {#<!-- Nested Comment -->#}
                        {#<div class="media">#}
                            {#<a class="pull-left" href="#">#}
                                {#<img class="media-object" src="http://placehold.it/64x64" alt="">#}
                            {#</a>#}
                            {#<div class="media-body">#}
                                {#<h4 class="media-heading">Nested Start Bootstrap#}
                                    {#<small>August 25, 2014 at 9:30 PM</small>#}
                                {#</h4>#}
                                {#Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.#}
                            {#</div>#}
                        {#</div>#}
                        {#<!-- End Nested Comment -->#}
                    {#</div>#}
                {#</div>#}


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Informacje</h4>
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Reżyseria</td>
                            <td>{{ director }}</td>
                        </tr>
                        <tr>
                            <td>Scenariusz:</td>
                            <td>{{ writer }}</td>

                        </tr>
                        <tr>
                            <td>Produkcja</td>
                            <td>{{ producer }}</td>
                        </tr>

                        <tr>
                            <td>Premiera</td>
                            <td>{{ premiere }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Gatunek</h4>


                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                {% for genre in genres %}
                                <li class=" col-xs-6"><a href="#">{{ genre.getName() }}</a>
                                </li>
                                {% else %}
                                    <p>Nie ustawiono żadnych gatunków.</p>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Dane techniczne</h4>
                    <table class="table table-striped">
                        <thead>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Czas trwania</td>
                            <td>{{ length }} min</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
        <!-- /.row -->
        <hr>
    {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': id} %}
{%  endblock %}